    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>
            <h2>Symposium Theme</h2>

            <p>The Musical Organics symposium at STEIM brings together specialists from diverse disciplines who all engage with the design and performance of new musical instruments. The aim with this one-day symposium is to poke a little into the epistemology of the material objects that musical instruments are, and question how musical theory is inscribed in musical technics: equally in acoustic, electric and digital instruments. With traditional organology being largely the science of instrumental classification and history, this symposium will explore the genealogy of musical instruments as an organic environment where features are borrowed, exchanged, translated and transduced between modalities such as the acoustic, electric, and the digital. Symposium topics range from traditional and new instrument design, musical notation for new instruments, sustainability and legacy, tradition, issues of learning, audience communication, and more.</p>

            <p>The symposium consists of presentations, performances, and discussions. It is an open event, as long as space is available. For people interested in participating in the symposium, please fill in the registration form below.</p>
            
            <br><p>Key topics during the day will address different aspects of musical instrumentalities:
			<br>
			<br>- the instrument and its history - how would an instrument genealogy work?
			<br>- writing for instruments - with changes in instruments, how do we notate for them?
			<br>- how do instruments 'establish' themselves - innovation, legacy, tradition?
			<br>- education and learning - do we learn digital instruments? 
			<br>- audience understanding - how do we communicate what an instrument does?
            <br>- how are do instruments evolve, and how do we understand that evolution?
			<br>- to what degree do musical instruments mediate?
			</p>

            <br>
            <h2>Dates</h2>
            
            <p>
            - <b>May 5th, 2016</b> : Symposium at STEIM, Amsterdam.<br>
              
            <br/><br/><br/>

            </div>
        </div>
    </section>
