    <!-- Programme Section -->
        <section id="programme">
      <div class="dark-background">

      <div class="container content-section text-left">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/><br/>

            
            <h2>PROGRAMME</h2>
                    
            <br>

            <p><b>The day's programme (Thursday, May 5th) is the following:</b><br></p>

<br>10:00 : Registration and coffee
<br>10:30 : Participant presentations (6 presentations - 10 min talk + 5 min discussion each)
<br>12:00 : Lunch with a musical performance
<br>13:00 : Participant presentations (6 presentations - 10 min talk + 5 min discussion each)
<br>14:30 : Discussion (which themes came up during the presentations?)
<br>15:00 : Tea and biscuits with a performance
<br>16:00 : Roundtable (what are the core issues in digital musical instrument design?)
<br>17:30 : Summary of the day (how do the themes relate to your research?)
<br>18:30 : Dinner

            <br>
           

            <br/><br/><br/>

            </div>
        </div>
    </section>
