    <!-- Programme Section -->
        <section id="programme">
      <div class="dark-background">

      <div class="container content-section text-left">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/><br/>

            
            <h2>PROGRAMME</h2>
                    
            <br>

            <p><b>The day's programme (Thursday, May 5th) is the following:</b><br></p>

			<br>10:00 : Registration and coffee
			<br>10:30 : Participant presentations (6 presentations - 10 min talk + 5 min discussion each)
			<br>12:00 : Lunch with a musical performance
			<br>13:30 : Participant presentations (6 presentations - 10 min talk + 5 min discussion each) 
			<br>15:00 : Tea and biscuits with a performance
			<br>16:00 : Roundtable (participants give a ~4 min response to emerging themes as they see them) 
			<br>17:00 : Performances (improvisation, liveness)
			<br>18:00 : Discussion and summary of the day (what happened? how do we proceed?) 
			<br>19:00 : Dinner  

            <br><br>
           
		 	<h4>PERFORMANCES</h4>
                    
            <br>

            <p><b>There will be three performance sessions during the day:</b><br></p>

			<br>Adriana Sa: Included Middle
			<br>Stelios Mousakis: Primeval Sonic Atoms
			<br>Marije Baalman: Wezen - Gewording
			<br>Till Bovermann: Half-closed loop
			<br>Stephanie Pan: Untitled
			<br>Pete Furniss: Untitled

            <br>
            <br/><br/><br/>

            </div>
        </div>
    </section>
