    <!-- Registration Section -->
    <!-- Programme Section -->
    <section id="registration">
      <div class="dark-background">

      <div class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>

        <h2>Registration</h2>
        
        <p>Registration will open in April, 2016.</p>

        <p>Registration will open in April, 2016.</p>

        <p>The registration fee will include the talks, performances, lunch, coffee and tea.</p>

        <div class="iframe-rwd">
<iframe src="https://docs.google.com/forms/d/1oSkbKiSWizrx_7yFHCqZH2xr4OlZWnHxgzkvemBQ4ME/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>

<br> <br>
        <p>Registration also available through the <a href= "https://docs.google.com/forms/d/1oSkbKiSWizrx_7yFHCqZH2xr4OlZWnHxgzkvemBQ4ME/viewform" target="_blank"> Google Form</a> (in a new window).
        </p>
        <!--
        <p>Registration will open on April 11th, 2016. (UPDATE)</p>
        
        <p>
        <table class="col-lg-8 col-lg-offset-1">
            <tr>
            <td> </td><td>Early<br></td><td>Late</td>
            </tr>
            <tr>
            <td>Regular Fee</td><td>£xx</td><td>£xx</td>
            </tr>
            <tr>
            <td>Discount Fee</td><td>£xx</td><td>£xx</td>
            </tr>           
        </table>
        </p><br><br><br> <br>

        <p>Early registration ends on May 11th (UPDATE) <br>      
        Discount fee is for students and non-academics (DISCUSS)</p>      
        -->
<!--
        <p>Please register through the <a href= "http://onlineshop.sussex.ac.uk" target="_blank"> University of Sussex Online Shop</a> 
        </p>
    -->
              
            <br/><br/><br/>

            </div>
        </div>
    </section>
